/* :: About */

.about-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

    @media #{$breakpoint-xs} {
        background-size: inherit;
        height: 94%;
        background-position: center;
    }

    .container{

        @media #{$breakpoint-xs} {
                padding: 2rem;
        }

        .row{
            height: calc(100vh - 100px);
            min-height: 650px;

            @media #{$breakpoint-xs} {
                height: calc(100vh - 196px);
                min-height: 450px;
            }
        }
    }

    &.overlay{
        position: relative;
    }

    &.overlay:before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #81E6D4;
        z-index: 0;
    }
}


.img-cloud{
    display: none;

    @media #{$breakpoint-xs} {
        position: absolute;
        display: block;
        right: 0;
        left: 0;
        bottom: 0;
        width: 169%;
        max-width: 200%;
        z-index: 0;       
    }
}


.about-area {
    position: relative;
    z-index: 0;
    padding: 15rem 0 5rem 0;

    @media #{$breakpoint-xs} {
        padding: 7rem 2rem 2rem 2rem;
    }

    .text-hero {
            width: 60%;

            @media #{$breakpoint-xs} {
                width: 80%;

            }

            h2 {
                font-size: 65px;
                margin-bottom: 30px;
                color: $dark;
                font-weight: 300;
                line-height: 1;   

                span{
                    font-weight: 700;
                }

                @media #{$breakpoint-xs} {
                    font-size: 50px;
                    padding-top: 80px;
                }
            }

            .highlighted__line {                
                height: 13%;
                left: 31%;
                position: absolute;
                top: 65%;
                user-select: none;
                width: 20.5%;
                z-index: -1;

                @media #{$breakpoint-xs} {
                    height: 10.5%;
                    left: 8%;
                    top: 76%;
                    width: 58%;

                }
            }

    }

}

.about-text {
        position: relative;
        z-index: 1;        

        @media #{$breakpoint-xs} {
            margin-top: -5rem;
            margin-left: 1rem;

        }
        
        h2 {
            font-size: 70px;
            display: block;
            margin: 30px 0;
            margin-top: 60px;
            color: $dark;
            font-weight: 300;
            line-height: 1; 

            @media #{$breakpoint-xs} {
                font-size: 53px;
                line-height: 1.2;
            }
            strong{
                font-weight: 700;
            }
        }

        p {
            font-size: 30px;
            display: block;
            color: $dark;
            font-weight: 400;
            line-height: 1.2;
            width: 60%; 

            @media #{$breakpoint-xs} {
                    font-size: 18px;
                    width: 79%;
                    margin-top: 2rem;
                    line-height: 1.5;
            }

        }

        .highlighted__line {
            height: 22%;
            left: -2%;
            position: absolute;
            top: 77%;
            user-select: none;
            width: 56%;
            z-index: -1;

            @media #{$breakpoint-xs} {
                width: 82%;
                left: -4%;
            }
        }

        .a-link{
                display:inline-flex;

                span{
                    position: absolute;
                    transition: all 0.3s ease;
                }
                a{
                    margin-top:1rem;
                }
                h2 {
                    position: relative;
                    z-index: 1;
                    font-size: 16px;
                    color: $dark;
                    font-weight: normal;
                    text-decoration: none;
                    width: 100%;
                    margin: 0;
                    position: relative;
                    display: inline-block;
                    margin-left: 1.5rem;

                    @media #{$breakpoint-xs} {
                        width: auto;
                    }
                }
        }
        .a-link:hover{
                display:inline-flex;

                span{
                    margin-top:10px;
                }
        }
}

.about-us-content {
    position: relative;
    z-index: 1;
    margin-left: 6rem;

    @media #{$breakpoint-xs} {
        margin-bottom: 0;
        margin-left: 0; 
    }

    h2 {
        margin-bottom: 15px;
        line-height: 1.2;
        color: #3d4f4e;
        font-size: 58px;
        font-weight: 400;

        @media #{$breakpoint-xs} {
            font-size: 40px;
            color:$primary;
        }
    }
    h3 {
        margin-bottom: 15px;
        line-height: 1;
        color: #3d4f4e;
        font-size: 24px;
        font-weight: 400;

        @media #{$breakpoint-xs} {
            font-size: 17px;
            width: 70%;
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }
}

.about-us-area {
    position: relative;
    z-index: 1;
    padding: 3% 0;
    
    .container{
        max-width: 95%;
    }

    @media #{$breakpoint-xs} {
        padding:3% 5%;
        padding-bottom: 0;
    }

    .about-bg-pattern {
        position: absolute;
        width: 40%;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.sec-about-area {
    position: relative;
    z-index: 0;
    padding: 0 0 7rem 0;

    @media #{$breakpoint-xs} {
        padding: 1rem 2rem 2rem 2rem;
    }

    .l-content {
        position: relative;
        z-index: 1;
        width: 66%;

            @media #{$breakpoint-xs} {
                width: 100%;
                margin-bottom: 40px;            
            }

        h2 {
            font-size: 35px;
            font-weight: 400;
            margin-bottom: 1.5rem;
            color: $dark;        

            @media #{$breakpoint-xs} {
                font-size: 37px;
                font-weight: 600;
            }
        }
        h3 {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 1.5rem;
            color: $dark;        

            @media #{$breakpoint-xs} {
                ont-size: 23px;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1.5;
            margin-right: 1rem;
            font-size:18px;
            margin-bottom: 1rem;

            @media #{$breakpoint-xs} {
                font-size: 19px;
                margin-right: 0rem;
                margin-bottom: 2rem;
            }

        }

        a {
            font-size: 35px;
            display: block;
            font-weight: 600;
            margin-bottom: 0;
            color: $primary;
            width: fit-content;
            transition: all 0.3s ease;       

            @media #{$breakpoint-xs} {
                font-size: 40px;
            }
        }

        a:hover {
            margin-left:2rem;   
        }

    }

}

.sec-team-area {
    position: relative;
    z-index: 0;
    padding: 4rem 0;
    background-color: #f5f5f5;
    margin-bottom: 6rem;


    @media #{$breakpoint-xs} {
        padding: 2rem 1rem;
    }

    .card-flex{
        display: inline-flex;
        @media #{$breakpoint-xs} {
        display: block;
        }
    }

    .ani{
        .text{
            text-align: center;
            h3{
                    font-size: 19px;
                    font-weight: 700;
                    margin-top: 2rem;
                    color: $dark ;
                    z-index: 200;
                    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

                    @media #{$breakpoint-xs} {                    
                        bottom: 12%;
                    }

                    .line{
                            content: "";
                            position: absolute;
                            background: #00F6A1;
                            width: 52px;
                            height: 15px;
                            border-radius: 25px;
                            top: 22.8rem;
                            left: 6.5rem;
                            transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                            z-index: -1;
                    }

                    .line-2{
                            content: "";
                            position: absolute;
                            background: #00F6A1;
                            width: 52px;
                            height: 15px;
                            border-radius: 25px;
                            top: 21.8rem;
                            left: 6.5rem;
                            transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                            z-index: -1;
                    }


                    &.color-w{
                        color: #fff ;
                    }
                }
        }

        .card{
            border: none;
            background: none;
            align-items: center;
            text-align: center;
            width: 100%;        
            height: 320px;
            background: #ddd;

            @media #{$breakpoint-xs} {                    
                margin: 1rem 0 1rem 0;
            }

            &.circle {
              border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
              overflow: hidden;
              animation: morph 10s cubic-bezier(0.38, 0.33, 0.54, 0.43)  infinite  alternate;
              animation-play-state: running;


              &.a{
                animation-delay: 1s;
              }

              &.b{
                animation-delay: 2s;
              }


            }

            @keyframes morph{
              0%, 100% {
              border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
              }
              34% {
                border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
              }
              67% {
                border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
              }
            }

                
                .img-team{
                    width:100%;
                    position: absolute;
                    z-index: 0;
                    user-select: none;
                    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                    @media #{$breakpoint-xs} {
                        
                    }
                }
         
        }

    }

    .ani:hover{
            
            .text{
                h3{                    

                    .line{
                        left: 14.5rem;
                        animation: mover-line all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)  infinite  alternate;
                    }
                    .line-2{
                        left: 14.5rem;
                        animation: mover-line all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)  infinite  alternate;
                    }
                }            
            }

            .card{
                .img-team{
                    transform: scale(1.05);
                }
            }



          @-webkit-keyframes mover-line {
                0% { left: 14.5rem; }
                100% {left: 6.5rem; }
          }
          @keyframes mover-line {
                0% { left: 14.5rem; }
                100% {left: 6.5rem; }
          }
    }

    .l-content {
        position: relative;
        z-index: 1;
        width: 66%;
        margin-left: 8rem;
        margin-bottom: 4rem;

            @media #{$breakpoint-xs} {
                margin-bottom: 40px;
                margin-left: 0;
                width: 100%;        
            }

        h2 {
            font-size: 70px;
            font-weight: 300;
            margin-bottom: 1.5rem;
            color: $dark;     

            span{
                color:$primary;
                font-weight: 700;
            }   

            @media #{$breakpoint-xs} {
                font-size: 50px;
                line-height: 1.1;
            }

            &:before {
              content: "";
              position: absolute;
              background: #00F6A1;
              width: 153px;
              height: 46px;
              border-radius: 25px;
              top: 22%;
              left: -6%;
              transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
              z-index: -1;
            
                @media #{$breakpoint-xs} {
                    width: 106px;
                    height: 30px;
                    top: 8%;

                }

            }
        }
    
        h3 {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 1.5rem;
            color: $dark;        

             span{
                font-weight: 700;
            }   

            @media #{$breakpoint-xs} {
                    width: 85%;
                    font-size: 20px;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1.5;
            margin-right: 1rem;
            font-size:18px;
            margin-bottom: 1rem;

            @media #{$breakpoint-xs} {
                font-size: 14px;
                margin-right: 1rem;
            }

        }

        a {
            font-size: 35px;
            display: block;
            font-weight: 600;
            margin-bottom: 0;
            color: $primary;
            width: fit-content;
            transition: all 0.3s ease;       

            @media #{$breakpoint-xs} {
                font-size: 40px;
            }
        }

        a:hover {
            margin-left:2rem;   
        }

    }

}

