/* :: secciones CSS */

.sec-footer-area {
    position: relative;
    z-index: 0;
    padding: 5rem 0 5rem 0;

    

    @media #{$breakpoint-xs} {
        padding: 2rem 2rem 0 2rem;
    }

    .nl-content {
        position: relative;
        z-index: 1;
        text-align: left;
        margin-left: 7rem;

        @media #{$breakpoint-xs} {
            margin-left: 0;
        }

        a {
            font-size: 70px;
            display: block;
            font-weight: 600;
            margin-bottom: 0;
            color: $primary;
            transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);       

            @media #{$breakpoint-xs} {
                font-size: 50px;
            }
        }

        a:hover {
            margin-left:2rem;   
        }



        h2 {
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 21px;
            color: #121212;

            @media #{$breakpoint-xs} {
                font-size: 23px;
                width: 100%;
            }

        }

    }

    .nl-content-2 {
        position: relative;
        z-index: 1;
        text-align: left;
        margin-bottom: 10rem;
        margin-top: -6rem;
        margin-left: 3rem;

        @media #{$breakpoint-xs} {
            margin-bottom: 15rem;
            margin-left: 0;
            text-align: center;
        }

        h2 {
            font-size: 55px;
            display: block;
            font-weight: 400;
            margin-bottom: 0;
            color: $primary;        

            @media #{$breakpoint-xs} {
                font-size: 28px;
                margin-bottom: 1rem;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1;
            font-size: 24px;

            @media #{$breakpoint-xs} {
                font-size: 16px;
                margin-right: 0;
                margin-top: 1rem;
                line-height: 1.5;
            }

        }

    }

}

.sec-cards-area {
    position: relative;
    z-index: 0;
    padding: 2rem 0 8rem 0;

    
    @media #{$breakpoint-xs} {
        padding: 2rem;
    }

    .container{
        padding: 0;
        .sec-1{
            padding: 0 2.5rem;
        }
        @media #{$breakpoint-xs} {
        padding: 0 1rem;
        }

        .h2-hero{
            font-size: 45px;
            color: #000;
            font-weight: 100;
            margin: 5rem 0;
        }
    }

    .card-flex{
        display: inline-flex;
        @media #{$breakpoint-xs} {
        display: block;
        }
    }

    .card{
        border-radius: 0; 
        width: 100%;
        transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);


        &.a1{
            border-right: transparent;
            border-bottom: transparent;
            @media #{$breakpoint-xs} {
                border-right: 1px solid rgba(0,0,0,.125);
                border-bottom: transparent;
            }
        }
        &.a2{
            border-right: transparent;
            border-bottom: transparent;
            @media #{$breakpoint-xs} {
                border-right: 1px solid rgba(0,0,0,.125);
                border-bottom: transparent;
            }
        }
        &.a3{
            border-bottom: transparent;
            @media #{$breakpoint-xs} {
                border-right: 1px solid rgba(0,0,0,.125);
                border-bottom: transparent;
            }
        }

        &.b1{
            border-right: transparent;
            @media #{$breakpoint-xs} {
                border-right: 1px solid rgba(0,0,0,.125);
                border-bottom: transparent;
            }
        }
        &.b2{
            border-right: transparent;
            @media #{$breakpoint-xs} {
                border-right: 1px solid rgba(0,0,0,.125);
                border-bottom: transparent;
            }
        }
        &.b3{
        }

        .card-body{
            padding: 2rem 0 2rem 3rem;
            @media #{$breakpoint-xs} {
                padding: 2rem 0 2rem 2rem;        
            }

            h2{
                font-weight: 300;
                font-size: 26px;
                margin-bottom: 1.5rem;
                color: #121212;
                margin-bottom: auto;
                margin-top: auto;
                padding: 2rem 0;
                @media #{$breakpoint-xs} {      
                    font-size: 22px;
                }
            }
            h3{
                font-size: 16px;
                font-weight: 400;

                @media #{$breakpoint-xs} {      
                    font-size: 14px;
                }

                span{
                    font-size:43px;
                    color:$primary;
                    position: absolute;
                    margin-top: 8px;
                    margin-left: -1rem;
                    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                    @media #{$breakpoint-xs} {      
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .card:hover{

        background-color:$primary;
            border-color: transparent;

        .card-body{

            h2{

            }

            h3{

                span{
                    margin-left: 0;
                    color:$dark;
                }
            }
        }
    }



    .nl-content {
        position: relative;
        z-index: 1;

        .img-figura {
            width: 280px;
            position: absolute;
            margin: -30% -22% 0 0;
            right: 0;

            @media #{$breakpoint-xs} {                
                width: 180px;
                margin: -25rem 22% 0 0;
                left: 0;
                transform: rotate(180deg);          
            }
        }
        .img{
            width: 650px;
            position: absolute;
            margin: -68% -78% 0 0;
            right: 0;
            z-index: -2;

            @media #{$breakpoint-xs} {                
                 margin: -29rem -28% 0 0;           
            }
        }

        .card{
            border:none;
            z-index: 2;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.10);
            
            .card-body{
                padding: 2rem;

                @media #{$breakpoint-xs} {                
                    padding: 1.5rem;            
                }

                .our-link{
                    display: grid;
                    i{
                        color: #05C4E4;
                        line-height: 3;
                        font-size: 18px;
                    }
                }
                
                .iconlist{
                        color: #05C4E4!important;
                        line-height: 3!important;
                        font-size: 18px!important;
                }

                li {
                    font-size: 16px;
                    display: block;
                    font-weight: 400;
                    margin-top: 15px;

                    i{
                        color:$primary;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 13px;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
                }
            }
        }  

        h2 {
            font-size: 55px;
            display: block;
            font-weight: 400;
            margin-bottom: 0;
            color: $primary;

            &.b{
                font-size: 58px;
                margin-bottom: 2rem;
                color:$c-gray;

                @media #{$breakpoint-xs} {
                    font-size: 45px;
                    line-height: 1.2;
                    font-weight: 400;
                    margin-bottom: 11rem;
                }
            }      

            @media #{$breakpoint-xs} {
                font-size: 23px;
                line-height: 1.2;
                font-weight: 500;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1.5;
            margin-right: 1rem;

            @media #{$breakpoint-xs} {
                font-size: 14px;
                margin-right: 1rem;
            }

        }

        li {
                    font-size: 19px;
                    font-weight: 400;
                    margin-top: 0;

                    i{
                        color:$primary;
                        font-weight: 600;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 12px;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
                }

    }

}

.sec-clients-area {
    position: relative;
    z-index: 0;
    padding: 2rem 0;

    
    @media #{$breakpoint-xs} {
        padding: 2rem;
    }

    .container{
        margin-left: 5%;
        max-width: 90%;
        margin-right: 5%;

        @media #{$breakpoint-xs} {
        padding: 0 1rem;
        }

        .h2-hero{
            font-size: 45px;
            color: #000;
            font-weight: 100;
            margin: 0 0 5rem 0;
            @media #{$breakpoint-xs} {
                font-size: 40px;
            }
        }

    }

    .card-flex{
        display: inline-flex;
        @media #{$breakpoint-xs} {
        display: block;
        }
    }

    .card{
        border: none;
        width: 100%;
        margin-bottom: 5rem;
        transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

        @media #{$breakpoint-xs} {
            margin-bottom: 4rem;        
        }


        .card-body{
                padding: 1rem 0;
                margin: auto;
                filter: brightness(1);
            @media #{$breakpoint-xs} {
                padding: 0;        
            }

            h2{
                font-weight: 300;
                font-size: 26px;
                margin-bottom: 1.5rem;
                color: #121212;
                @media #{$breakpoint-xs} {      
                    font-size: 22px;
                }
            }
            h3{
                font-size: 16px;
                font-weight: 400;

                @media #{$breakpoint-xs} {      
                    font-size: 14px;
                }

                span{
                    font-size:43px;
                    color:$primary;
                    position: absolute;
                    margin-top: 8px;
                    margin-left: -1rem;
                    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                    @media #{$breakpoint-xs} {      
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .card:hover{
        transform: scale(1.2);

        .card-body{
            filter: brightness(0.7);
        }
    }



    .nl-content {
        position: relative;
        z-index: 1;

        .img-figura {
            width: 280px;
            position: absolute;
            margin: -30% -22% 0 0;
            right: 0;

            @media #{$breakpoint-xs} {                
                width: 180px;
                margin: -25rem 22% 0 0;
                left: 0;
                transform: rotate(180deg);          
            }
        }
        .img{
            width: 650px;
            position: absolute;
            margin: -68% -78% 0 0;
            right: 0;
            z-index: -2;

            @media #{$breakpoint-xs} {                
                 margin: -29rem -28% 0 0;           
            }
        }

        .card{
            border:none;
            z-index: 2;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.10);
            
            .card-body{
                padding: 2rem;

                @media #{$breakpoint-xs} {                
                    padding: 1.5rem;            
                }

                .our-link{
                    display: grid;
                    i{
                        color: #05C4E4;
                        line-height: 3;
                        font-size: 18px;
                    }
                }
                
                .iconlist{
                        color: #05C4E4!important;
                        line-height: 3!important;
                        font-size: 18px!important;
                }

                li {
                    font-size: 16px;
                    display: block;
                    font-weight: 400;
                    margin-top: 15px;

                    i{
                        color:$primary;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 13px;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
                }
            }
        }  

        h2 {
            font-size: 55px;
            display: block;
            font-weight: 400;
            margin-bottom: 0;
            color: $primary;

            &.b{
                font-size: 58px;
                margin-bottom: 2rem;
                color:$c-gray;

                @media #{$breakpoint-xs} {
                    font-size: 45px;
                    line-height: 1.2;
                    font-weight: 400;
                    margin-bottom: 11rem;
                }
            }      

            @media #{$breakpoint-xs} {
                font-size: 23px;
                line-height: 1.2;
                font-weight: 500;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1.5;
            margin-right: 1rem;

            @media #{$breakpoint-xs} {
                font-size: 14px;
                margin-right: 1rem;
            }

        }

        li {
                    font-size: 19px;
                    font-weight: 400;
                    margin-top: 0;

                    i{
                        color:$primary;
                        font-weight: 600;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 12px;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
                }

    }

}

.sec-passion-area {
    position: relative;
    z-index: 0;
    padding: 5rem 0;

    
    @media #{$breakpoint-xs} {
        padding: 2rem 2rem;
    }

    .container{
        padding: 0;
    }

    .nl-content {
        position: relative;
        z-index: 1;

        &.ma-le-6{
            margin-left: 6rem;
            @media #{$breakpoint-xs} {
                margin-left: 0;
            }
        }

        &.a{
            margin-top: 6rem;
            @media #{$breakpoint-xs} {
                margin-top: 0;
            }
        }
        
        h2 {
            font-size: 79px;
            display: block;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 0;
            color: $primary;
   
            &.secon{
                font-weight: 300;
                margin-bottom: 8rem;
                color: $dark;
                @media #{$breakpoint-xs} {
               margin-bottom: 2rem;
                }
            }

            @media #{$breakpoint-xs} {
                font-size: 65px;
                line-height: 1.2;
            }
        }

        h3 {
            font-size: 29px;
            font-weight: 400;
            line-height: 1.2;
            color: #000;
   
            @media #{$breakpoint-xs} {
                font-size: 24px;
                line-height: 1.2;
            }
        }



        a {
            font-size: 43px;
            display: block;
            font-weight: 600;
            margin-bottom: 0;
            color: $primary;
            transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);       

            @media #{$breakpoint-xs} {
                font-size: 50px;
                margin-top: 2rem;
            }
        }

        a:hover {
            margin-left:2rem;   
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 1rem;
            margin-right: 3rem;
            font-weight: 400;

            &.a{
                @media #{$breakpoint-xs} {
                margin-bottom: 2rem;
                }
            }

            @media #{$breakpoint-xs} {
                font-size: 19px;
                margin-right: 1rem;
            }

        }


    }
}

.sec-landing-area {
    position: relative;
    z-index: 0;
    padding: 5rem 0;
    background-color: #12121A;
    
    @media #{$breakpoint-xs} {
        padding: 2rem 2rem;
    }



    .container{
        padding: 0;

    }

    .section-l{
        padding: 3rem 0 0 0 ;

        @media #{$breakpoint-xs} {
            padding: 0 ;
        }
    }

    .title{
            width: 450px;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;

            @media #{$breakpoint-xs} {
                margin: 2rem auto 3rem auto;
            }

            h2{
                font-size: 20px;
                font-weight: 700;
                color: #fff;
            }

            span{
                font-size: 16px;
                font-weight: 400;
                color: #fff;
            }
    }


    .card{
            border: none;
            background: none;
            overflow: hidden;
            border-radius: 0;
            width: 450px;
            height: 580px;
            margin-left: auto;
            margin-right: auto;    
            @media #{$breakpoint-xs} {
                margin-bottom: 2rem;
                width: auto;
                height: auto;   
            }
            img{
                transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                height: 100%;

                @media #{$breakpoint-xs} {
                position: relative;
                }
            }

            &:hover{
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                transform: scale(1.05);

                img{
                    transform: scale(1.05);
                }
            }
    }
}

.nl-content {
        position: relative;
        z-index: 1;

        h2 {
            font-size: 55px;
            display: block;
            font-weight: 400;
            margin-bottom: 0;

            @media #{$breakpoint-xs} {
                font-size: 35px;
                line-height: 1;
                margin-bottom: 1rem;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1.5;            
            margin-right: 8rem;
            
            @media #{$breakpoint-xs} {
                font-size: 14px;
                margin-right: 2rem;
            }
        }
}