// Heading Color
$heading:  #5D5C60;

// Text Color
$text:  #5D5C60;

// Gray Background
$bg-gray: #3D4F4E;

// Gray
$c-gray: #5D5C60;

// Primary Color
$primary: #00F6A1;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #00F6A1;

// Secondary Color
$secondary: #06BAA8;

// tersiary Color
$tersiary: #00F6A1;
